.profile-tab{
    text-align: center;
    height: 100vh;
}

.profile-tile{
    position: absolute;
    top: 50%;
    left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile-avatar{
    height: 161px;
    width: 161px;
}

.profile-title{
    font-family: 'Poppins';
    font-weight: 500;
    font-style: italic;
}

.profile-MainTitle{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
}

.profile-subTitle{
    font-family: 'Poppins';
    color: #868080;
}

.profile-btn{
    background-color:black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}

@media only screen and (max-width: 1028px) {
    .profile-tile{
        left: 35%;
    }

}

@media only screen and (max-width: 868px) {
    .profile-tile{
        left: 30%;
    }

}

@media only screen and (max-width: 688px) {
    .profile-tile{
        left: 20%;
    }

}

@media only screen and (max-width: 488px) {
    .profile-tile{
        left: 15%;
    }

    .profile-avatar{
        height: 100px;
        width: 100px;
    }

    .profile-MainTitle{
        font-size: 16px;
    }

    .profile-subTitle{
        font-size: 10px;
    }


}