.logo-Image {
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 10px;
}

.nav-right {
    float: right;
}

.nav-left {
    float: left;
}

.nav-tile {
    display: block;
    text-align: center;
    padding: 14px 14px;
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
}

.nabar {
    overflow: hidden;
}